---
layout: stylesheet
---

/*
  Masonry
*/
.grid {
  max-width: 69em;
	margin: 30px auto;
	padding: 0;
}

/* reveal grid after images loaded */
.grid.are-images-unloaded {
  opacity: 0;
}

.grid__item,
.grid__col-sizer {
	display: block;
	float: left;
	padding: 7px;
  width: 33%;
}

.grid__gutter-sizer { width: 0%; }

/* hide by default */
.grid.are-images-unloaded .image-grid__item {
  opacity: 0;
}

.grid__item {
  float: left;
}

.grid__item--height1 { height: 140px; background: #EA0; }
.grid__item--height2 { height: 220px; background: #C25; }
.grid__item--height3 { height: 300px; background: #19F; }

.grid__item--width2 { width: 66%; }

.grid__item img {
  display: block;
  max-width: 100%;
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: #777;
}

/* Figcaption */

#gallery figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: var(--palette-bkgd-figcaption);
  color: lightgrey;
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: zoom-in;
}

#gallery figcaption a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-bottom: none;
}

#gallery figcaption a:hover {
  text-decoration: underline;
}

#gallery figcaption a:visited {
  color: var(--palette-bkgd-figcaption-dark);
}

.cs-style-1 figcaption {
  height: 100%;
  width: 100%;
  padding: 7px;
  opacity: 0;
  text-align: center;
  backface-visibility: hidden;
  transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure:hover figcaption {
  opacity: 0.95;
}

#gallery figcaption::-webkit-scrollbar-track
{
  border-radius: 10px;
}

#gallery figcaption::-webkit-scrollbar
{
  width: 7px;
}

#gallery figcaption::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: var(--palette-bkgd-figcaption-dark);
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .grid__item,
  .grid__col-sizer {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    cursor: pointer;
  }

  #gallery figcaption {
    position: static;
    top: auto;
    left: auto;
    opacity: 1;
    background: black;
    cursor: auto;
  }

  #gallery figcaption a:visited {
    color: var(--palette-medium);
  }

  .pswp__button--caption {
    display: none;
  }

  .pswp__caption {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid__item,
  .grid__col-sizer {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .grid__item,
  .grid__col-sizer {
    width: 33%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .grid__item,
  .grid__col-sizer {
    width: 33%;
  }
}
